* {
  background-color: black;
}
.headerImg {
  border: 1px solid aqua;
  padding: 5px;
  border-radius: 28px;
  width: 45px;
  height: 45px;
}
.Header-button a{
  border: 1px solid aqua;
  color: black;
  padding: 20px 55px;           
  background-color: aqua;
  text-decoration: none;
  font-weight: bold;
}
h1,
h2,p {
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: bold;
}
.table-data {
  width: 100%;
  height: 80vh;
}
.table-data-1 {
  text-align: center;
  width: 50%;
}
.Header-item {
  padding: 10px 40px;
}
.Header-item a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}
.image-border {
  border: 1px solid aqua;
  padding: 5px;
  border-radius: 190px;
  width: 350px;
  height: 350px;
}
.textaqua{
  color: aqua;
}
p{
  padding-bottom: 15px;
  text-transform: capitalize;
  line-height: 1.9;
}
.Desc-button a{
  padding: 20px 55px;
  text-decoration: none;
  border: 1px solid aqua ;
  background-color: transparent ;
  color: aqua;
  font-weight: bold;
}
